#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.red-asterix {
    color: red;
    display: inline;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input,
#msform select {
    padding: 6px;

    border: 1px solid var(--blue-color);
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#msform input:focus,
#msform select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid var(--blue-color);
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

.fs-checkbox-container {
    display: flex;
    text-align: left;
    gap: 10px;
}

.fs-checkbox-container input {
    height: 20px;
    align-self: center;
    flex-basis: fit-content;
}

.fs-otp-field {
    margin-top: 2vh;
}


/*buttons*/
#msform .action-button {

    background: var(--theme-color);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin-top: 3vh;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px var(--theme-color);
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
   
    font-size: 24px;
    font-weight: var(--font-weight-700);
    color: black;
    margin-bottom: 20px;
    margin-left: 30px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: var(--font-weight-700);
    font-size: 12px;
    text-align: center;
    color: red;
    margin-bottom: 20px;
}

.fs-input-label {
    float: left;
    margin: 5px;
    font-weight: var(--font-weight-700);
    font-size: 14px;
    line-height: 16px;
}

.fs-input-info {
    font-weight: var(--font-weight-400);
    font-size: 10px;
    text-align: left;
    line-height: 12px;
}

.fs-checkbox-text-label {
    font-weight: var(--font-weight-400);
    font-size: 12px;
    line-height: 18px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: black;
    font-size: 12px;
    font-weight: var(--font-weight-700);
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar > #first-progress {
    margin-left: 11vw;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 7px;
    background: white;
    border: 1px solid black;
    position: absolute;
    left: -50%;
    top: 16px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: var(--theme-color);
    
}

#progressbar li.inactive:before {
    background: white;
    border: 1px solid black;
    color: white;
}

fieldset {
    /* for chrome and safari*/
    -webkit-animation-duration: .25ms;
    -webkit-animation-name: slidein;
    /*for firefox*/
    -moz-animation-duration: 1s;
    -moz-animation-name: slidein;
    /* for opera*/
    -o-animation-duration: 1s;
    -o-animation-name: slidein;
    /* Standard syntax*/
    animation-duration: 1s;
    animation-name: slidein;
}

/* Modals */

.reset-modal {
    /* width: 80vw; */
    margin-top: 10vh!important;
}
.modal-header {
    margin-inline: auto;
    width: 40vw;
    display: block;
}

.modal-header > div {
    background: var(--theme-color);
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-title {
    font-weight: var(--font-weight-900);
    font-size: 32px;
    text-align: center;
}

.modal-body {
    width: 70vw;
    text-align: center;
    margin-inline: auto;
}

.modal-button {
    width: 70vw;
    height: 5vh;
    background: var(--theme-color);
    color: white;
    border-radius: 5px;
    margin-inline: auto;
}

@-webkit-keyframes slidein {
    from {
        margin-right: 100%;
        width: 300%;
    }

    to {
        margin-right: 0%;
        width: 100%;
    }
}

@-moz-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-o-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}