<header>
    <nav>
        <div class="nav-container">
            <div class="nav-brand">
                <a (click)="onClickLogo()">
                    <img src="assets/logo/My Abbott Cares Logo v030323-White.png" alt="MAC Logo" loading="lazy" />
                    <h1>MY ABBOT CARES</h1>
                </a>
            </div>
            <div class="nav-brand-logo" (click)="onClickTitle()">
                <img src="assets/logo/359-3592458_abbott-logo-white-png-transparent-png-removebg-preview 1.png"
                    alt="Abbot Logo" loading="lazy" />
            </div>
            <a href="javascript:void(0);" class="ham-icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </nav>
</header>