<div *ngIf="carouselNumber === 1">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators c-indicator">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/assets/images/home-carousel-1.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="/assets/images/home-carousel-2.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="/assets/images/home-carousel-3.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
<div *ngIf="carouselNumber === 2">
  <div class="section-heading">
    <h2>What’s New</h2>
  </div>
  <div class="whats-new-carousel-container d-flex justify-content-center">
    <div
      id="carouselIndicators"
      class="carousel slide whats-new-carousel"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators whats-new-c-indicator">
        <button
          type="button"
          data-bs-target="#carouselIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/c1.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="assets/images/c2.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="assets/images/c3.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="assets/images/c4.png" class="d-block w-100" alt="..." />
        </div>
      </div>
    </div>
  </div>
</div>
