<div class="container py-5">

    <div class="row">
        <div class="col-md-12 col-md-offset-3">
            <form [formGroup]="passwordDetails" id="msform">
                <div>
                    <h2 class="fs-title">{{ pageTitle }}</h2>
                </div>
                <!-- progressbar -->
                <ul id="progressbar">
                    <li [ngClass]="step>=1 ? 'active ' : 'inactive'">Create Password</li>
                    <li [ngClass]="step>=2 ? 'active' : 'inactive'">Registration Details</li>
                    <li [ngClass]="step==3 ? 'active' : 'inactive'">SMS Verification</li>
                </ul>
                <!-- fieldsets -->
                <fieldset *ngIf="step == 1">
                    <!-- <h2 class="fs-title">Personal Details</h2> -->
                    <div>
                        <label class="fs-input-label">Password</label>
                        <input type="password" formControlName="password"
                            [ngClass]="{ 'is-invalid': password_step && personal.password.errors }" />
                    </div>
                    <div *ngIf="password_step && passwordDetails.controls.password.errors">
                        <div *ngIf="personal.password.errors?.required">Password is required</div>
                    </div>
                    <div>
                        <p class="fs-input-info">Password must have minimum 8 characters, contains at least 1 numeric
                            character (eg. 1,2,3...)
                            and 1 special character (eg. @!?_*)</p>
                    </div>
                    <div>
                        <label class="fs-input-label">Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" name="cnfPassword" />
                    </div>
                    <div *ngIf="password_step && passwordDetails.controls.confirmPassword.errors">
                        <div *ngIf="personal.confirmPassword.errors?.required">Confirm Password is required</div>
                    </div>
                    <input (click)="next()" type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
            </form>
            <form [formGroup]="registrationDetails" id="msform">
                <fieldset *ngIf="step == 2">
                    <!-- <h2 class="fs-title">Address Details</h2> -->
                    <div>
                        <label class="fs-input-label">First Name <p class="red-asterix">*</p></label>
                        <input type="text" formControlName="firstName" />
                    </div>
                    <div *ngIf="registration_step && registrationDetails.controls.firstName.errors">
                        <div *ngIf="address.firstName.errors?.required">First Name is required</div>
                    </div>

                    <div>
                        <label class="fs-input-label">Last Name <p class="red-asterix">*</p></label>
                        <input type="text" formControlName="lastName" />
                    </div>
                    <div *ngIf="registration_step && registrationDetails.controls.lastName.errors">
                        <div *ngIf="address.lastName.errors?.required">Last Name is required</div>
                    </div>


                    <div>
                        <label class="fs-input-label">Email <p class="red-asterix">*</p></label>
                        <input type="email" formControlName="email" />
                    </div>
                    <div *ngIf="registration_step && registrationDetails.controls.email.errors">
                        <div *ngIf="address.email.errors?.required">Email is required</div>
                    </div>

                    <div>
                        <label for="brands" class="fs-input-label">
                            Select Brand you Purchased<p class="red-asterix">*</p>
                        </label>
                            <select class="selectpicker" name="brand" id="brands" formControlName="brandPurchased">
                                <option value="ensure gold">Ensure Gold</option>
                                <option value="Pediasure">Pediasure</option>
                                <option value="Similac Gold Gain Plus S3">Similac Gold Gain Plus S3</option>
                                <option value="Similac Gold Gain Plus S4">Similac Gold Gain Plus S4</option>
                            </select>
                    </div>

                    <div class="fs-checkbox-container">
                        <input type="checkbox" id="terms" name="terms" value="terms" formControlName="privacyPolicy">
                        <label class="fs-checkbox-text-label" for="terms">
                            I agree to the Abbott <a>Terms and Conditions</a>
                            and the
                            <a>Privacy Policy</a>
                        </label>
                    </div>
                    <div class="fs-checkbox-container">
                        <input type="checkbox" id="data-privacy" name="d-privacy" value="d-privacy"
                            formControlName="dataPrivacy">
                        <label class="fs-checkbox-text-label" for="data-privacy">
                            I authorise Abbott to disclose my personal data* to selected third parties to deliver value
                            added services to me as a My Abbott Cares member.
                        </label>
                    </div>

                    <input (click)="next()" type="button" name="next" class="next action-button" value="Register" />
                </fieldset>
            </form>
            <form [formGroup]="otpDetails" id="msform">
                <fieldset *ngIf="step == 3">
                    <!-- <h2 class="fs-title">Educational Details</h2> -->
                    <div class="number-info">
                        <p>Please enter the SMS verification code sent
                            to {{countryCode}}&nbsp;{{phoneNumber}}</p>
                    </div>
                    <div class="number-info text-justify mb-2">
                        <a (click)="onChangeNumber()"><u>Change number</u></a>
                    </div>
                    <div class="fs-otp-field">
                        <ng-otp-input [formCtrl]="otp" [config]="otpConfig"></ng-otp-input>
                    </div>
                    <!-- <input (click)="previous()" type="button" name="previous" class="previous action-button-previous"
                        value="Previous" /> -->
                    <input (click)="submit()" type="submit" name="submit" class="submit action-button" value="Submit" />
                </fieldset>
            </form>
        </div>
    </div>
</div>