.signup-form {
    margin-top: 7vh;
    width: 80vw;
    margin-inline: auto;
}

.form-heading-text {
    color: var(--theme-color);
    text-align: center;
}

.form-heading-text>h2 {
    font-size: var(--font-size);
}

.phone-number-group {
    display: flex;
    gap: 2vw;
}

.phone-number-group input {
    flex: 1;
    margin-top: 3vh;
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    height: 5vh;
}

#country-code {
    width: 10vw;
    margin-left: 2vw;
}

.next-button button {
    width: 100%;
    background-color: var(--theme-color);
    color: white;
    border-radius: 5px;
    height: 5vh;
    margin-top: 3vh;
}

.login-now-text {
    color: var(--theme-color);
    font-weight: var(--font-weight-900);
    margin-top: 3vh;
    text-align: center;
}