<div class="card-options-round-container">
  <div class="card-options-round-content" id="card-options-round-content-1">
    <img
      src="assets/images/shining-star-icon.png"
      alt="shining star"
      class="round-icons"
    />
    <div>CarePoints History</div>
  </div>
  <div class="card-options-round-content" id="card-options-round-content-2">
    <img
      src="assets/images/gift-icon.png"
      alt="gift icon"
      class="round-icons"
    />
    <div>Redemption Status</div>
  </div>
  <div class="card-options-round-content" id="card-options-round-content-3">
    <img src="assets/images/badge.png" alt="badge" class="round-icons" />
    <div>Unlock Badges</div>
  </div>
</div>
