<div class="carepoint-card level-3">
    <div class="carepoint-card__content">
        <h2>Welcome, Username!</h2>
        <h1>101 CarePoints</h1>
        <div class="level-progress">
            <div class="bronze-points">
                <h2>BRONZE</h2>
                <img src="assets/images/star.svg" alt="star" />
                <img src="assets/images/right-arrow.svg" alt="right arrow">
            </div>

            <div class="progress">
                <progress id="file" value="32" max="100"></progress>
            </div>
            <p>20 more CarePoints to reach Silver</p>
        </div>
    </div>
</div>