.carepoint-card {
    width: 90vw;
    margin-inline: auto;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    top: -100px;
    background: white;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.31);
}

.carepoint-card__content {
    margin-left: 2vw;
    margin-top: 3vh;
}

.carepoint-card h2, .carepoint-card h1 {
    color: var(--theme-color);
    font-weight: var(--font-weight-900);
    text-shadow: 0px 1px, 1px 0px, 1px 0px;
    letter-spacing: 3px;
}

.level-progress {
    margin-top: 10%;
}

.bronze-points {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.level-progress h2 {
    color: var(--bronze-color);
    font-weight: var(--font-weight-700);
    margin-top: 2vh;
}

progress[value] {
    width: 80%;
    height: 1rem;
}

.current-slab {
    display: flex;
}