<form class="signup-form" [formGroup]="forgotPassForm" (ngSubmit)="onClickReset()">
    <div id="sign-up-heading">
        Forgot Password?
    </div>
    <div>
        <div class="mob-label">
            MOBILE NUMBER
        </div>
        <div class="phone-number-group" formGroupName="phoneDetails">
            <input type="text" id="country-code" placeholder="+60" name="countryCode" formControlName="countryCode">
            <input type="text" id="ph-num" placeholder="Enter Phone Number (1XXXXXXXXX)" name="phoneNumber" formControlName="phoneNumber">
        </div>
    </div>
    <div class="phone-text-detail">
        <p>Please enter full handphone number beginning with 1. Eg: Handphone number 012-3899000. Key in 123899000.</p>
    </div>
    <button type="submit" class="reset-button">Reset My Password</button>
    <button type="button" class="cancel-btn" (click)="onClickCancel()">Cancel</button>
</form>