.signup-form {
    margin-top: 7vh;
    width: 80vw;
    margin-inline: auto;
}

#sign-up-heading {
    color: black;
    font-weight: var(--font-weight-700);
    font-size: var(--font-size);
    text-align: center;
}

.mob-label {
    margin-top: 5vh;
    margin-left: 2vw;
    color: var(--theme-color);
    font-weight: var(--font-weight-600);
    font-size: 16px;

}

.phone-number-group {
    display: flex;
    gap: 2vw;
}

.phone-number-group input {
    flex: 1;
    margin-top: 1vh;
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    height: 5vh;
}

#country-code {
    max-width: 12vw;
}

.phone-text-detail {
    color: grey;
    text-align: center;
    line-height: 16px;
    margin-top: 2vh;

}

button {
    width: 100%;
    background-color: var(--theme-color);
    color: white;
    font-weight: var(--font-weight-700);
    font-size: 16px;
    border-radius: 5px;
    height: 5vh;
    margin-top: 3vh;
}

.cancel-btn {
    background-color: white;
    color: var(--theme-color);
}