<div class="bottom-nav-bar">
    <div class="bottom-nav-bar-item">
        <img src="assets/images/home-icon.png" alt="home icon">
        <p>My Abbot Cares</p>
    </div>
    <div class="bottom-nav-bar-item">
        <img src="assets/images/heart-menu.png" alt="heart icon">
        <p>Carepoints History</p>
    </div>
    <div class="bottom-nav-bar-item">
        <div class="qr-code-circle">
            <div class="qr-code-holder">
                <img src="assets/images/qr-code2.svg" alt="QR Code Icon">
            </div>
        </div>
        <p>Scan for CarePoints</p>
    </div>
    <div class="bottom-nav-bar-item">
        <img src="assets/images/home-icon.png" alt="help icon">
        <p>Help Center</p>
    </div>
    <div class="bottom-nav-bar-item">
        <img src="assets/images/profile.png" alt="profile icon">
        <p>My Profile</p>
    </div>
</div>